body{
    font-family: "Verdana";
    background-color: #4d75b3;/*blue*/
    color: white;
    text-align: center;
}

.wrapper{
    background-color: #f44336;/*red*/
    border: solid white;
    height: 97vh;
}

.throttle{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 50vh;
    padding: 0 5px;
}

#info{
  float: left;
  width: 50%;
}

#action-box{
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-left:2vh;
  margin-right:2vh;
  background-color: #4d75b3;/*blue*/;
}

#weapon-box{
  margin-top: 10vh;
  margin-left:2vh;
  margin-right:2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #4d75b3;/*blue*/;
}

#car-contols{
  margin-left: 50%;
}

#exit{
  position: absolute;
  right: 5%;
}