<uiview>
  <div class="single-player">
    <div id="test">
      <script type="text/javascript">
      document.getElementById('test').innerHTML = 
     "Nickname: " + sessionStorage.getItem('nickname');
      </script>
    </div>
    <h2>Single Player</h2>
    <p1>Vroom vroom<br><br></p1>
    
    <span ng-bind="carControlView.throttle" ng-show="!carControlView.throttleError"></span>
    <span ng-show="carControlView.throttleError">Error</span>
    <div>
    <input type="range" min="0" max="100" value="0" orient="vertical" class="throttle" ng-model="carControlView.throttle">
    <input type="button" value="Stop" ng-click="carControlView.stop()"></input>
    </div>
  
    <span ng-bind="carControlView.actualThrottle"></span>
    
    <button ng-click="$state.go('onboarding')">Exit</button>
  </div>
</uiview>
